:root{
  --f_blue : rgb(22, 22, 180)
}

*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
.navbar{
  background-color: var(--f_blue);
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
}
.navbar span{
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
}
.navbar > div{
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  color: rgb(165, 184, 0);
}

.buttons .btn {
  padding: 5px 15px;
  margin-left: 20px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.8rem;
  color: white;
}

.buttons .btn.full {
  color: var(--f_blue);
  background-color: white;
}

